@model BKBVehicle.Models.ViewModel.LoginModels

@{
    ViewBag.Title = "LogIn";
}

<br/>
<table class="table table-bordered" align="center">
    <tr>
        <td style="text-align: center;  background-color: #eac9c9; ">
            <img src="~/Images/logo-removebg-preview.png" class="img-center" height="100" width="100" />
        </td>
        <td style="font-size: 20px; font-weight: bold; text-align: center; background-color: #eac9c9 ">
            @Html.Label("Welcome to Bangladesh Krishi Bank Vehicle Management Portal", htmlAttributes: new { @class = "control-label" })
        </td>
    </tr>
    
</table>
    <h4>Enter your User ID and Password to Continue</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="color:red">@TempData["retMsg"]</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control",@autocomplete="off", @plcaeholder="User ID" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @plcaeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="LogIn" class="btn btn-default btn-primary" />
                </div>
            </div>
        </div>
    }
<br/>
<br />
@*<br />
<br />*@
@*<h4 style="color:red">N.B.:All CRM users are requested to update their Branch loan disbursement target separately from Target setup and Extended Target Setup menu</h4>*@
<br />