@model IEnumerable<BKBVehicle.DataModel.Fuel_Details_Table>
@{
    ViewBag.Title = "Fuel Info List";
}

<h2 align="middle">Fuel Info List Details</h2>
<h4 style="color:red">@TempData["retMsg"]</h4>
<table class="table table-striped table-bordered" id="search" style="width:100%">
    <thead>
        <tr>
            <th>SL No</th>
            <th>Driver Name</th>
            <th>Registration No</th>

            <th>Fuel Date</th>
            <th>Fuel Consumption</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(i + 1)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNo)
                    </td>


                    <td>
                        @if (item.FuelDate != null)
                        {
                            @item.FuelDate.Value.ToString("dd-MMM-yyyy")
                        }


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelComsumptionQ)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "FuelinfoEdit", new { id = item.id }) |
                        @Html.ActionLink("Delete", "FuelDelete", new { id = item.id }) |
                        @Html.ActionLink("Details", "FuelDetails", new { id = item.id }) |
                    </td>
                </tr>
                i = i + 1;

            }
        }
    </tbody>
</table>

<script src="~/scripts/jquery-3.5.1.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        $('#search').DataTable({
            "lengthMenu": [[-1, 25, 50, 100], ["All", 25, 50, 100]]

        });
    });

</script>



